.card {
  /* min-height: 400px; */
  width: 100%;
  height: 100%;
}

.card-deck {
  width: 100%;
}

.textA {
  display: block;
  /* background-color: green; */
}

.textB {
  display: none;
  /* background-color: green; */
}

.flipped {
  background-color: blue;
  color: red;
}

.card-footer {
  text-align: center;
}
