h1 {
  text-align: center;
  padding: 50px;
}

.card {
  /* min-height: 400px; */
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

div[class*='col']{
  margin-bottom: 2%;
}

.card-deck {
  width: 100%;
}

.textA {
  display: block;
  margin-bottom: 0px;
  /* background-color: green; */
}

.textB {
  display: none;
  /* background-color: green; */
}

.flipped {
  background-color: #5bcf76;
  color: white;
}

.card-footer {
  text-align: center;
}
